In [1]:
##1. take name as input and say hello
name = input("Name:  ")
("Hello {} !".format(name))

Name:  hello poonam

'Hello hello poonam !'

In [2]:
# 2. From below string print count of "Is".
string = "He is Amol and she is Chaitali"
x=string.count("is")
print(x)

2

In [3]:
# 3. from below string split the words by space
string = "Data is new oil"
x=string.split(" ")
print(x)

['Data', 'is', 'new', 'oil']

In [4]:
# 4. now from below list, join all words by "=" and create a sentence.
list_1 = ["Data", "is", "new", "oil"]
x='='.join(list_1)
print(x)

Data=is=new=oil

In [5]:
# 5. from below string replace "Java" with "Python"
sentence = "I love programming in Java."
x=sentence.replace("Java","Python")
print(x)

I love programming in Python.

In [6]:
# 6. from below string remove(strip) additional spaces and print it
message = "   This is a message with spaces.   "
x=message.strip(" ")
print(x)

This is a message with spaces.

In [ ]:
#7. From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
x=sentence.index("sample")
print(x)

In [7]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
x=len(text)
print(x)

14

In [8]:
#9. Print below string in reverse order
string = "Pineapple"
x=string[: :-1]
print(x)

elppaeniP

In [9]:
#10. Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."
x=text.title()
print(x)

Welcome To Python Programming.

In [ ]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"
x=text.upper()
print(x)

In [10]:
#12. From below string just convert first lettter of string to upper case
text = "i am learning python"
x=text.capitalize()
print(x)

I am learning python

In [11]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
x=text.swapcase()
print(x)

dAta IS nEw Oil

In [12]:
#14. print the addition of below 2 strings
a = 20
b = 30
c=a+ b

print(c)

50

In [13]:
#15. print the additiono of below 2 strings
a = "20"
b = "30"
c=a+b
print(c)

2030

# list

In [14]:
## 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3] = 44
print(my_list)

[1, 2, 3, 44, 5]

In [15]:
## 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3, 200)
print(my_list)

[1, 2, 3, 200, 4, 5]

In [16]:
## 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [17]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.insert(0, 66)
my_list.insert(1, 87)
my_list.insert(2, 99)
print(my_list)

[66, 87, 99, 1, 2, 3, 4, 5]

In [18]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.extend([66, 87, 99])
print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [19]:
## 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [20]:
# 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list.count("cherry")

2

In [21]:
# 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list.index("banana")

4

In [22]:
## 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list[:-1]

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [23]:
#24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()

In [24]:
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [ ]:
## 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)

In [25]:
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

# create a list named my list that has three elements:
. The integer 3
. the string 'element number two'
. another list ['last' ,'element']
#26 in that order

In [ ]:
mylist = [3,'element number two',['last' ,'element']]

In [26]:
#27 print the thired element of the list
mylist = [1,2,3,4,5,6,7]
mylist[2]

3

In [27]:
#28 modify the last element of this list so that its value is 16. print the modified list so you know the operation was performed sucessfully
mylist = ['a','b','sixteen']
mylist[-1] = 16
print(mylist)

['a', 'b', 16]

In [28]:
#29 calculate the length of following list
mylist = ['this','is', 'the', 'list','whose','length','I','want']
len(mylist)

8

In [29]:
#30 calculate the sum of following list
mylist = [54,678,2890]
sum(mylist)

3622

In [30]:
# 31 find the maximum value of the following list
mylist= [677,53245,234,236,23456,345,23526,3454]
max(mylist)

53245

In [31]:
#  32 find the minimum value of the following list
minlist= [351,984,1697,284,134,467,164]
min(minlist)

134

In [32]:
# 33 appent the string 'append me!' to the end of the following list.print the list to ensure the operation has been completed successfully.
mylist = [1,2,3]
mylist.append('append me!')
print(mylist)

[1, 2, 3, 'append me!']

# For Loop in Python

In [11]:
# 34 Print the first 10 natural numbers using for loop.
n = 11
for i in range(1,n):
        print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
# 35  print all the even numbers within the given range
given_range = 10
 
for i in range(given_range):
        if i%2==0:
                print(i)

0
2
4
6
8

In [13]:
# 36 calculate the sum of all numbers from 1 to a given number.
given_number = 10
sum = 0
for i in range(1,given_number+1):
        sum+=i
print(sum)

55

In [14]:
# 37 calculate the sum of all the odd numbers within the given range.
given_range = 10
sum = 0
 
for i in range(given_range):
        if i%2!=0:
                sum+=i
print(sum)

25

In [15]:
#38  print a multiplication table of a given number

# if the given range is 10
given_number = 5
 for i in range(11):
        print (given_number," x",i," =",5*i)

5  x 0  = 0
5  x 1  = 5
5  x 2  = 10
5  x 3  = 15
5  x 4  = 20
5  x 5  = 25
5  x 6  = 30
5  x 7  = 35
5  x 8  = 40
5  x 9  = 45
5  x 10  = 50

In [25]:
# 39  display numbers from a list using a for loop.
list = [1,2,4,6,88,125]
for i in list:
     print(i)

1
2
4
6
88
125

In [26]:
# 40 count the total number of digits in a number.
given_number = 129475
given_number = str(given_number)
count=0
for i in given_number:
        count += 1
print(count)

6

In [28]:
# 41 check if the given string is a palindrome.
given_string = "madam"
reverse_string = ""
for i in given_string:
    reverse_string = i + reverse_string  
if(given_string == reverse_string):
   print("The string", given_string,"is a Palindrome.")
   
else:
   print("The string",given_string,"is NOT a Palindrome.")

The string madam is a Palindrome.

In [1]:
# 42Python program that accepts a word from the user and reverses it
given_string = input()
reverse_string = ""
for i in given_string:
    reverse_string = i + reverse_string  
print(reverse_string)

Naukri
irkuaN

In [29]:
# 43 check if a given number is an Armstrong number
given_number = 153
given_number = str(given_number)
string_length = len(given_number)
sum = 0
for i in given_number:
    sum += int(i)**string_length
if sum == int(given_number):
    print("The given number",given_number,"is an Amstrong number.")
else:
    print("The given number",given_number,"is Not an Amstrong number.")

The given number 153 is an Amstrong number.

In [3]:
# 44  count the number of even and odd numbers from a series of numbers.
num_list = [1,3,5,6,99,134,55]
for i in num_list:
    if i%2==0:
        print(i,"is an even number.")
    else:
        print(i,"is an odd number.")

1 is an odd number.
3 is an odd number.
5 is an odd number.
6 is an even number.
99 is an odd number.
134 is an even number.
55 is an odd number.

In [30]:
# 45 display all numbers within a range except the prime numbers.
import math
def is_not_prime(n):
    flag = False
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            flag = True
    return flag
range_starts = 10
range_ends = 30
print("Non-prime numbers between",range_starts,"and", range_ends,"are:")
 
for number in filter(is_not_prime, range(range_starts, range_ends)):
    print(number)

Non-prime numbers between 10 and 30 are:
10
12
14
15
16
18
20
21
22
24
25
26
27
28

In [47]:
# 46 get the Fibonacci series between 0 to 50.
num = 50
first_value, second_value = 0, 1
for n in range(0, num):
    if n <= 1:
        next_value = n
    else:
        next_value = first_value + second_value
        first_value = second_value
        second_value = next_value
    if next_value > num:
        break
    print(next_value)

0
1
1
2
3
5
8
13
21
34

In [46]:
# 47 find the factorial of a given number.
given_number= 5
factorial = 1
for i in range(1, given_number + 1):
    factorial = factorial * i
 
print("The factorial of ", given_number, " is ", factorial)

The factorial of  5  is  120

In [33]:
# 48  accepts a string and calculates the number of digits and letters.
user_input = input()
digits = 0
letters = 0
for i in user_input:
    if i.isdigit():
        digits=digits+1
    elif i.isalpha():
        letters=letters+1
print(" The input string",user_input, "has", letters, "letters and", digits,"digits.")

Naukri1234
 The input string Naukri1234 has 6 letters and 4 digits.

In [48]:
#  49 display all numbers within a range except the prime numbers.
import math

def is_not_prime(n):
    if n < 2:
        return True
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            return True
    return False

range_starts = 10
range_ends = 30
print("Non-prime numbers between", range_starts, "and", range_ends, "are:")

for number in filter(is_not_prime, range(range_starts, range_ends + 1)):
    print(number)

Non-prime numbers between 10 and 30 are:
10
12
14
15
16
18
20
21
22
24
25
26
27
28
30

 # Dictionary

In [3]:
# 50 Given the following dictionary, print all the keys.
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
my_dict.keys()

dict_keys(['name', 'age', 'city', 'occupation'])

In [4]:
# 51 Print all values of dictionary 
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
my_dict.values()

dict_values(['Alice', 25, 'New York', 'Engineer'])

In [8]:
# 52Print all values except "New York"
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
for key, value in my_dict.items():
    if not (key == "city" and value == "New York"):
        print(value)

Alice
25
Engineer

In [11]:
# 53 Delete key "age" from below dict
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
del my_dict["age"]
print(my_dict)

{'name': 'Alice', 'city': 'New York', 'occupation': 'Engineer'}

In [12]:
# 54 Print value of "occupation" from below dictionary.
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
print(my_dict["occupation"])

Engineer